<form method="POST" action="{{ route('login') }}">
                        @csrf
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" name="email" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" name="password" required class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember"> Remember Me
                        </div>
                        <div class="form-group">
                            <button type="submit" class="">Login</button>
                        </div>
                    </form>
