<IfModule mod_rewrite.c>
<IfModule mod_negotiation.c>
Options -MultiViews -Indexes
</IfModule>
RewriteEngine On

RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

<IfModule mod_headers.c>
    # Disable ETag
    Header unset ETag
    Header always append X-Frame-Options "DENY"
    Header unset X-Powered-By
     </IfModule>



     <IfModule mod_rewrite.c>
     Options +FollowSymLinks
     RewriteEngine On
 
     # Redirect all requests to index.php
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteCond %{REQUEST_FILENAME} !-d
     RewriteRule ^ index.php [L]
 </IfModule>
#  AddType application/javascript .js
#  AddType text/css .css
Options +FollowSymLinks
#  Header unset X-Content-Type-Options
</IfModule>